<!DOCTYPE html>
<html>
    <head>

  <link rel="stylesheet" type="text/css" href="css/style.css">
  
    </head>
    <body>
        {{>header}}
        <form>
<div>
            <input name="search" type="txt" placeholder="location"/>
            </div>
            <div>
            <button type="submit">submit</button>
            </div>
        </form>
        <script src="js/client.js"></script>

        <p id="weatherResult"> </p>
    </body>
</html> 