<!DOCTYPE html>
<html>
    <head>

  <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        {{>header}}
        {{data.temperature }}    
        {{data.windGust}}         
    
        <p>
            it works
        </p>
    </body>
</html>