<header>
<h1>  {{title}}</h1>
<lu>
    <li>
       <a href="/"> Home </a>
    </li>
    <li>
       <a href="/Help"> Help </a> 
    </li>
    <li> <a href="/About"> About </a>  </li>
     <li> <a href="/forcast"> forcast </a>  </li>
</lu>
</header>